.mainCandidaturasEmpresa {
    display: flex;
	flex-direction: row;
    margin-top: 1em;
    height: 40em;

    .spinnerImg {
        width: 10em;
        height: 10em;
        margin-top: 15em;
    }

    .blueButton {
        background: var(--colAzuDos);
    }

    .blueButton:hover{
        background: var(--colAzu);
    }

    .noCandidaturas {
        background-color: var(--colBla);
        border-radius: 1em;
        width: 40em;
        height: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5em;

        .sinCandidatos {
            font-size: 1.3em;
            color: var(--pri9);

        }
    }
    
    .columnOfertaInfo {
        display: flex;
		flex-direction: column;
		width: 20em;
		height: 16em;
		background-color: var(--colBla);
		border-radius: 1em;
		margin-bottom: 5em;
        margin-left: 2.7em;
        
        .ofertaIContenedor {
            display: flex;
            flex-direction: row;

            .tituloInfo {
                color: var(--pri9);
                font-weight: bold;
            }

        }
    }

    .columnCandidatos {
        display: flex;
		flex-direction: column;
		width: 60em;

        .cardCandidaturaFinal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 57em;
            height: 5em;
            background-color: var(--colBla);
            border-radius: 1em;
        }
        
        .cardCandidatura {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
			width: 57em;
			height: 5em;
			background-color: var(--colBla);
			border-radius: 1em;
            transition: 0.3s;
            
            .datosCardCandidatura {

                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 35em;
                
                .datosCandidatoELink {
                    cursor: pointer;
                    
                }

                .datosCandidatoELink:hover{
                    color: var(--colAzu);
                    font-weight: bold;
                }

            }
            
            .editorEstado {

                display: flex;
                flex-direction: row;
                width: 25em;
                

                .sel {
                    width: 9em;
                }
    
                .blueButton2 {
                    background-color: var(--colAzuDos);
                    height: 1.8em;
                }
    
                .blueButton2:hover {
                    background-color: var(--colAzu);
                }
            }

            

        }
    }
}

.mainCandidaturasCandidato {
    display: flex;
	flex-direction: row;
    margin-top: 1em;
    height: 40em;

    .spinnerImg {
        width: 10em;
        height: 10em;
        margin-top: 15em;
    }

    .blueButton {
        background: var(--colAzuDos);
    }

    .blueButton:hover{
        background: var(--colAzu);
    }

    .noCandidaturas {
        background-color: var(--colBla);
        border-radius: 1em;
        width: 40em;
        height: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5em;

        .sinCandidatos {
            font-size: 1.3em;
            color: var(--pri9);

        }
    }

    .columnEstado {
        display: flex;
		flex-direction: column;
		width: 20em;
		height: 16em;
		background-color: var(--colBla);
		border-radius: 1em;
		margin-bottom: 5em;
        margin-left: 2.7em;

        .filtroEstadoCandidato {
            font-weight: bold;
            font-size: 1.1em;
        }

        .sel {

            width: 12em;
            
        }
    }

    .columnMisCandidaturas {
        display: flex;
		flex-direction: column;
		width: 60em;

        .cardCandidaturaFinal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 57em;
            height: 5em;
            background-color: var(--colBla);
            border-radius: 1em;
        }
        
        .cardCandidaturaUser {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
			width: 57em;
			height: 5em;
			background-color: var(--colBla);
			border-radius: 1em;
            transition: 0.3s;
            
            .datosCardCandidatura {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 40em;

                .datosCandidatoELink {
                    cursor: pointer;
                }

                .datosCandidatoELink:hover{
                    color: var(--colAzu);
                    font-weight: bold;
                }
            }

            .eliminarCandidatura {
                width: 16em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .colorDelEstadoN {
                    color: var(--colNarCla);
                    font-weight: bold;
                }

                .colorDelEstadoV {
                    color: var(--colVer);
                    font-weight: bold;
                }

                .colorDelEstadoR {
                    color: var(--colRoj);
                    font-weight: bold;
                }

                .redButton {
                    background-color: var(--colRojCla);
                    height: 1.5em;
                }

                .redButton:hover{
                    background-color: var(--colRoj);
                }
            }

            
        }
    }
}