.mainCandidaturasEmpresa {
    display: flex;
	flex-direction: row;
    margin-top: 1em;
    height: 35.7em;

    .blueButton {
        background: var(--colAzuDos);
    }

    .blueButton:hover{
        background: var(--colAzu);
    }

    .noCandidaturas {
        background-color: var(--colBla);
        border-radius: 1em;
        width: 40em;
        height: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5em;

        .sinCandidatos {
            font-size: 1.3em;
            color: var(--pri9);

        }
    }
    
    .columnOfertaInfo {
        display: flex;
		flex-direction: column;
		width: 20em;
		height: 16em;
		background-color: var(--colBla);
		border-radius: 1em;
		margin-bottom: 5em;
        margin-left: 2.7em;
        
        .ofertaIContenedor {
            display: flex;
            flex-direction: row;

            .tituloInfo {
                color: var(--pri9);
                font-weight: bold;
            }

        }
    }

    .columnCandidatos {
        display: flex;
		flex-direction: column;
		//margin-bottom: 5em;
        width: 60em;
        
        .cardCandidatura {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
			width: 50em;
			height: 5em;
			background-color: var(--colBla);
			border-radius: 1em;
            transition: 0.3s;
            
            .datosCandidato {
                // margin-right: 5em;
            }

            .sel {
                width: 9em;
            }

            .blueButton2 {
                background-color: var(--colAzuDos);
                height: 1.8em;
            }

            .blueButton2:hover {
                background-color: var(--colAzu);
            }

        }
    }
}