.curriculumContainer {
    display: flex;
    flex-direction: row;
    height: 40.8em;
    justify-content: center;
    align-items: center;
    background: var(--colGri);

    .cardQuest{

        background: var(--colBla);
        border-radius: 0.6em;
        width: 18em;
        height: 16em;
        margin-top: -18em;
   

        .cuestionario{
            display: flex;
            flex-direction: column;
            border-radius: 2%;
            width: 18em;


            .checkBoxContainer {

	    		margin-right: 4em;
	    		width: 15em;
                /* Customize the label (the container) */
             .container {
                // display: block;
                position: relative;
                // padding-left: 35px;
                padding-left: 2em;

                cursor: pointer;
                font-size: 1em;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                }
            
                /* Hide the browser's default checkbox */
                .container input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;
                }
            
                /* Create a custom checkbox */
                .checkmark {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 1em;
	    		  width: 1em;
	    		  margin-top: 0.2em;
                  background-color: var(--colGri);
                }
            
                /* On mouse-over, add a grey background color */
                .container:hover input ~ .checkmark {
                  background-color: var(--colDarGri);
                }
            
                /* When the checkbox is checked, add a blue background */
                .container input:checked ~ .checkmark {
                  background-color: var(--colAzuDos);
                }
            
                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                  content: "";
                  position: absolute;
                  display: none;
                }
            
                /* Show the checkmark when checked */
                .container input:checked ~ .checkmark:after {
                  display: block;
                }
            
                /* Style the checkmark/indicator */
                .container .checkmark:after {
                  left: 4px;
                  top: 0px;
                  width: 5px;
                  height: 10px;
                  border: solid white;
                  border-width: 0 3px 3px 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
            }
        

        }

    }

    .expProfForm{
        display: flex;
        flex-direction: column;
        border-radius: 2%;
        height: 28em;
    }

    .cardExp{
        background: var(--colBla);
        border-radius: 0.6em;
        margin: 2em;
        margin-left: 2em;
        padding: 2em;
        padding-bottom: 4em;

        .textAreaCurriculum {

          display: flex;
          flex-direction: column;
          margin-top: 1.6em;
  
          .curriculum {
              
              background: var(--colBla);
              resize: none;
              font-size: 1em;
              border-style: solid;
              border-width: 1px;
              border-color: var(--colAzuDos);
          }
  
          .curriculum2 {
              
              background: var(--colBla);
              resize: none;
              font-size: 1em;
              border-style: solid;
              border-width: 1px;
              border-color: var(--colRoj);
          }

          .experiencia {
              
            background: var(--colBla);
            resize: none;
            font-size: 1em;
            border-style: solid;
            border-width: 1px;
            border-color: var(--colAzuDos);
        }

        .experiencia2 {
            
            background: var(--colBla);
            resize: none;
            font-size: 1em;
            border-style: solid;
            border-width: 1px;
            border-color: var(--colRoj);
        }
      
          .textAddProductTwo {
              background: var(--colBla);
              resize: none;
              font-size: 1em;
              border: none;
              
          }
      
          .textAddProduct:focus{
              outline: none;
              box-shadow:none !important;
              border-width: 1px;
              border-color: var(--colAzuDos);
          }
          
          #descriptionRemainingCharacters {
              position: relative;
              width: 100%;
              
              text-align: right;
              
              // bottom: 1.5em;
              padding-right: 0.3em;
          }

          #descriptionRemainingCharacters2 {
            position: relative;
            width: 100%;
            
            text-align: right;
            
            // bottom: 1.5em;
            padding-right: 0.3em;
        }
  
      }
    }

    .containerButton{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .blueButton {
			
			background: var(--colAzuDos);
		}

		.blueButton:hover{
			
			background: var(--colAzu);
		}
        
    }

    .titulos{
        font-size: 1em;
			font-weight: bold;
			color: var(--pri9);
    }
}