.loginMainC {
    margin-bottom: 6.8em;
    background-color: var(--colGri);
    display: flex;
    justify-content: center;
    flex-direction: row;

    .loginCardC {
        display: flex;
        flex-direction: column;
        height: 29em;
        width: 26em;
        border-radius: 3px;
        background: var(--pri0);
        margin-top: 3em;
    }

    .loginCardC2 {
        display: flex;
        flex-direction: column;
        height: 29em;
        width: 26em;
        border-radius: 3px;
        background: var(--pri0);
        margin-top: 3em;
        // align-items: center;

        .userRegInfoCont {
            margin-top: 5em;
            display: flex;
            flex-direction: column;
            align-items: center;

            .infoText {
                display: flex;
                flex-direction: row;
                margin-top: 1em;
                margin-bottom: 1em;
            }
    
            .imageI {
                height: 2em;
            }
    
            .botonRegistroUsuarios {
                background: var(--colAzuDos);
                transition: 0.3s;
    
                .textoBoton {
                    
                    color: var(--colBla);
                    // transition: 0.3s;
                }
    
                // .textoBoton:hover {
                // 	color: var(--colAzuDos);
                // }
            }
    
            .botonRegistroUsuarios:hover {
                background: var(--colAzu);
                
            }
        }

    }

    .headerC {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height: 15em;
    }

    .loginCardC .headerC .image {
        width: 7em;
        border: 0.1em solid;
	    border-color: white;
        // top: 6em;
        position: absolute;
        
    }

    h1 {
        margin-top: 5em;
        height: 1em;
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body input {
        margin-bottom: 0.5em;
        font-size: 1.5em;
        background: var(--pri1);
        border-style: solid;
        border-width: 0.5px;
        border-color: var(--pri9);
    }
	
	.error {
		margin-top: 1em;
		color: var(--colRojCla);
	}
	.success {
		margin-top: 1em;
		color: var(--colVer);
    }
    
    .vertical-line {
        background: var(--pri5);
        width: 0.1em;
        height: 23em;
        margin-top: 6em;
        
    }
	
	
}