.mainProfile {

    .cardHeader {
        flex-direction: column;
        align-items: center;
        
    }

    .userBothBilling {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userDataField {
        margin-top: 1em;
        color: var(--pri9);
        display: flex;
        flex-direction: row;
    
        .userDataFieldTitle {
            font-weight: bold;
    
        }
    
        .userDataFieldContent {
            margin-left: 0.5em;
        }
    
    }

    .userTypeClass {
        color: var(--pri6);
        margin-top: 0.3em;
    }


}
