
.mainSearch {
	
	.total {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	.botonComprar {
		height: fit-content;
		
		h2 {
			font-size: 1em;
		}
	}
	
	.cardBody {
		
		.totalPrice {
			line-height: 1em;
			margin: 0;
		}
		
		.price {
			color: var(--pri5);
			font-size: 1em;
		}
		
	}
	
	.cajaCantidad {
		
		display: flex;
		justify-content: center;
		
		background-color: var(--pri1);
		width: 5em;
		
		.cantidad {
			padding: 0 1.5em;
		}
		
		button {
			height: 1.5em;
			width: 1.5em;
			
			background-color: var(--pri2);
			text-align: center;
			
		}

	}
	
	.botonEliminar {
		background-color: var(--colRoj);
		color: var(--pri1);
		width: 7.3em;	
		
		font-size: 0.85em;
	}
	.botonEliminar:hover {
		background-color: var(--colRojCla);
		color: var(--pri1);	
	}
	
}
