.footer {
    background-color: var(--colAzu);
    color: var(--sec6);
    height: 7em;
    padding: 0em;
}

.brand {
    color: var(--colBla);
    font-weight: bold;
    font-size: 1.7em; 
}

.policy {
    display: flex;
    flex-direction: row;
    
    .faq {
        color: var(--colBla);
        font-size: 0.8em;
    }

    .privacy {
        color: var(--colBla);
        font-size: 0.8em;
    }
}

.footerInfoContainer {
    .blank {
        height: 1em;
    }
}