
.busqueda {
	
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
    flex: 0;
    background: var(--colAzuCla);
    color: var(--pri9);
}

/* --------------------------
	SEARCH
-------------------------- */

.busqueda .search {
	display: flex;
	flex-direction: row;
    // justify-content: ;
    // background: red;
    width: 50em;
    justify-content: space-evenly;
    padding-left: 1em;
    padding: 0.7em;
}

.busqueda .search input{

	font-size: 1.1em;
	border: none;
	border-radius: 3px 0px 0px 3px;
    padding: 3px;
	height: 2em;
	width: 35em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

.busqueda .search input::placeholder{
    font-style: italic;
    color: grey;
}

.busqueda .search i {
	border-radius: 0px 3px 3px 0px;
	padding: 0 5px;
	color: rgb(24, 24, 24);
	background-color:var(--colRojCla);
	
	cursor: pointer;
}


.busqueda .searchButton {
    background: var(--colRojCla);
    transition: background-color 0.3s;
    font-size: 1.1em;
}


.busqueda .searchButton:hover {
    background-color: var(--colRoj);
    
}

// /* --------------------------
// 	NAV
// -------------------------- */

// header .nav {
	
// 	display: flex;
// 	justify-content: flex-end;
// 	width: 100%;
// 	padding-right: 1em;
	
	
// }

// header .nav a {
// 	padding: 0.3em 0.3em;
	
// }

// header button {
	
// 	font-size: 1em;
// 	margin-right: 0.75em;
// 	color: var(--colBla);
// 	background-color: var(--colAzu);
    
// } 

// header a {
// 	all:unset;
// }



// header .logoutButton {
// 	background-color: var(--colRojCla);
// }