
.productDetailMain {
	
	.productDetail {
		display: flex;
		flex-direction: row;
		
		padding: 2em;
	}
	
	.gallery {
		
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	.bigImage {
		width: 33em;
		height: 18.48em;
		display: flex;
		justify-content: center;
		background: white;
	}
	
	.bigImage .img {
		height: 18.48em;
		max-width: 33em;
		border-radius: 3px;
		padding: 0.5em 0;
		
	}
	.miniImg {
		height: 4.5em;
		max-width: 8em;
		
		border-style: solid;
		border-color: var(--pri3);
		border-width: 1px;
		
		transition: border-color 0.3s;
	}
	.miniImg:hover {
		border-color: var(--pri5);
	}
	.miniImg:active {
		border-color: var(--colNar);
	}
	
	
	.detail {
		padding-left: 1em;
		flex: 0.7;
	}
	
	.detail .price {
		text-align: left;
	}
	.detail .title {
		margin-bottom: 0.75em;
		
		color: var(--pri8);
	}
	.detail .description {
		text-align: left;
		color: var(--pri6);
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
	
	.ratingStar {
		width: 1.2em;
	}
	.ratingStarDisabled {
		width: 1.2em;
		filter: saturate(10%);
	}
	
	
	
	.purchase {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		height: fit-content;
		
		flex: 0.3;
		
		margin-left: 2em;
		
		border-style: solid;
		border-color: var(--pri4);
		border-width: 1px;
		
	}
	
	.purchase .cajaDropdown {
		display: flex;
		flex-direction: row;
		
		align-items: center;
		justify-content: center;
		
		margin-bottom: 1em;
	}
	
	.purchase .cajaDropdown p {
		margin-right: 0.5em;
	}
	
	.purchase select {
		width: 3em;
		
		font-size: 1em;
		border-radius: 3px;
	}
	
	.purchaseButton {
		
		width: 15em;
		margin-bottom: 0.3em;
		
	}
	
	
	.cajaKarma {
		
		width: 100%;
		
		display: flex;
		flex-direction: row;
		
		button {
			width: 50%;
			font-size: 0.85em;
			height: fit-content;
		}
		
		.karmaMas {
			background-color: var(--colVer);
		}
		.karmaMenos {
			background-color: var(--colRoj);
		}
		
	}
	
}